/** @format */

:root {
  --fontPangolin: 'Pangolin', sans-serif;
  --colortext: rgba(27, 4, 72, 1);
}

.wrapper-cart-bg {
  background-image: url(img/photo_5965568837111892738_y\ 1\ \(1\).png);
  background-color: #ffffff;
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-cart-span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-router-span span:nth-child(1) {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-family: var(--fontPangolin);
  letter-spacing: 2px;
}

.wrapper-router-span span:nth-child(2) {
  color: var(--colortext);
  font-size: 20px;
  font-family: var(--fontPangolin);
  letter-spacing: 2px;
}

.text-cart {
  color: var(--colortext);
  font-size: 36px;
  font-family: var(--fontPangolin);
  letter-spacing: 2px;
}

.gap-span {
  width: 100px;
}

.wrapper-cart-container {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper-cart-left {
  max-width: 860px;
  max-height: 727px;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  scroll-behavior: smooth;
}

.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.card-cart {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid rgba(73, 215, 243, 1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.img-cart-card {
  max-width: 185px;
  width: 100%;
  object-fit: contain;
}

.card-params li {
  color: var(--colortext);
  font-size: 20px;
  font-family: var(--fontPangolin);
  line-height: 35px;
}

.price-cart-one,
.price-cart {
  color: var(--colortext);
  font-size: 20px;
  font-family: var(--fontPangolin);
}

.warapper-info-quantity {
  background-color: rgba(246, 243, 243, 1);
  max-width: 110px;
  width: 100%;
  border: 1px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.btnMainus,
.btnPlus {
  transition: all 0.3s ease;
  cursor: pointer;
  width: 45px;
  height: 45px;
  color: var(--colortext);
  font-family: var(--fontPangolin);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.btnMainus:hover {
  color: rgba(27, 4, 72, 0.59);
}

.btnPlus:hover {
  color: rgba(27, 4, 72, 0.59);
}

.info-quantity {
  color: var(--colortext);
  font-size: 24px;
  font-family: var(--fontPangolin);
}

.btn-cart-card-delete {
  background-color: transparent;
  color: var(--colortext);
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-family: var(--fontPangolin);
  border: none;
}

.btn-cart-card-delete:hover {
  transform: rotate(90deg) scale(1.1);
  color: red;
}

.cart-empty {
  text-align: center;
  font-size: 32px;
  font-family: var(--fontPangolin);
  color: var(--colortext);
  letter-spacing: 2px;
}

.wrapper-cart-right {
  /*width: 520px;*/
  /*width: 50%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: stretch;*/
  gap: 48px;
  padding: 30px;
}

.wrapper-cart-top {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 52px 20px;
  display: flex;
  gap: 11px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.inputPromo {
  background-color: rgba(255, 251, 217, 1);
  max-width: 250px;
  width: 100%;
  text-align: center;
  outline: none;
  border: none;
  font-size: 28px;
  letter-spacing: 3px;
  font-family: var(--fontPangolin);
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-add-promo {
  background-color: rgba(73, 215, 243, 1);
  text-align: center;
  outline: none;
  border: none;
  font-size: 28px;
  letter-spacing: 3px;
  font-family: var(--fontPangolin);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper-cart-bottom {
  background-color: rgba(143, 237, 255, 1);
  border-radius: 20px;
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.list-cart-prices {
  width: 496px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid;
}

.list-cart-prices li {
  color: var(--colortext);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: var(--fontPangolin);
  letter-spacing: 3px;
}

.list-cart-right-bottom {
  width: 496px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.list-cart-right-bottom li {
  color: var(--colortext);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: var(--fontPangolin);
  letter-spacing: 3px;
}

.center-btn-cart {
  margin-top: 60px;
  max-width: 860px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.btn-clear-cart {
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--colortext);
  font-size: 24px;
  font-family: var(--fontPangolin);
  letter-spacing: 3px;
  padding: 5px 11px;
  border-radius: 12px;
  border: 0.5px solid;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-clear-cart:hover {
  background-color: rgb(234, 234, 234);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.imgSova {
  max-width: 244px;
  width: 100%;
  object-fit: contain;
}

.wrapper-deliviry {
  min-height: 441px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper-img-k {
  max-width: 220px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -120px;
}

.wrapper-img-k img {
  width: 100%;
  object-fit: contain;
}

.text-deliviry {
  color: var(--colortext);
  font-size: 34px;
  font-family: var(--fontPangolin);
  letter-spacing: 3px;
}

.wrapeer-checkbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.wrapeer-checkbox label {
  margin-top: 40px;
  color: var(--colortext, #000);
  font-size: 22px;
  font-family: var(--fontPangolin, sans-serif);
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 24px;
  cursor: pointer;
}

.wrapeer-checkbox label p {
  max-width: 369px;
  width: 100%;
}


.wrapeer-checkbox label p {
  color: var(--colortext);
  font-size: 30px;
  font-family: var(--fontPangolin);
  letter-spacing: 2px;
}

.inpuCkeck {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.ckeckMark {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
    border: 0.5px solid aqua;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.inpuCkeck:checked + .ckeckMark::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: rgba(255, 0, 208, 1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper-enter-data {
  width: 100%;
  min-height: 687px;
  display: flex;
  flex-direction: column;
}

.text-data {
  text-align: center;
  font-size: 40px;
  font-family: var(--fontPangolin);
  color: var(--colortext);
  letter-spacing: 3px;
  margin-top: 50px;
}

.form-data {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 50px 56px;
}

.form-data input {
  width: 100%;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--colortext);
  background-color: rgba(244, 217, 255, 1);
  font-family: var(--fontPangolin);
  letter-spacing: 3px;
}

.form-data input::placeholder {
  color: rgba(27, 4, 72, 0.5);
}

.text-comment {
  width: 100%;
  min-height: 300px;
  font-size: 40px;
  background-color: rgba(244, 217, 255, 1);
  letter-spacing: 3px;
  font-family: var(--fontPangolin);
  color: rgba(27, 4, 72, 0.5);
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  margin-top: 37px;
  padding: 20px ;
}

.wrapper-payment {
  margin-top: 50px;
}

.text-payment {
  color: var(--colortext);
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  font-family: var(--fontPangolin);
}

.wrapper-payment-checkbox {
display: grid;
grid-template-columns: repeat(2, 1fr);
margin-top: 30px;
gap: 30px;
}

.wrapper-payment-checkbox label {
  display: flex;
  max-width: 600px;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.wrapper-payment-checkbox label:nth-child(1) {
  margin-left: -65px;
}

.input-pay {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.span-mark {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-color: #ffffff;
  cursor: pointer;
  border: 0.5px solid aqua;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.input-pay:checked + .span-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: rgba(255, 0, 208, 1);
  border-radius: 100%;
  content: "";
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper-payment-checkbox p {
  color: var(--colortext);
  font-family: var(--fontPangolin);
  font-size: 30px;
}

.wrapper-payment-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-img-kids {
  max-width: 210px;
  width: 100%;
}

.wrapper-img-kids img {
  width: 100%;
  object-fit: contain;
}

.wrapper-button-order {
  width: 100%;
  padding: 47px 60px;
}

.wrapper-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.btn-continue, .btn-order {
  font-size: 48px;
  font-family: var(--fontPangolin);
  color: var(--colortext);
  border-radius: 20px;
  letter-spacing: 3px;
  padding: 10px 0;
  cursor: pointer;
  border: 1px solid rgb(0, 205, 205);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all .3s ease;
}

.btn-order {
  background-color:rgba(0, 238, 246, 1) ;
}

.btn-continue:hover {
  background-color: rgb(216, 216, 216);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.btn-order:hover {
  background-color: rgb(0, 205, 212);
}



@media (max-width: 1453px) {
  .card-params li {
    font-size: 18px;
  }

  .inputPromo,
  .btn-add-promo,
  .title-cart-right,
  .info-quantity,
  .price-cart-right {
    font-size: 18px;
  }

  .list-cart-right-bottom li {
    font-size: 18px;
  }
}

@media (max-width: 1399px) {
  .wrapper-cart-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .card-cart {
    column-gap: 10px;
  }

  .price-cart-one,
  .price-cart {
    font-size: 18px;
  }

  .warapper-info-quantity {
    max-width: 90px;
    width: 100%;
  }

  .btnMainus,
  .info-quantity,
  .btnPlus {
    font-size: 18px;
  }
}

@media (max-width: 1176px) {
    .btn-continue, .btn-order {
    font-size: 18px;
    letter-spacing: 0;
  }
}

@media (max-width: 1055px) {
  .text-comment {
    font-size: 24px;
  }
}

@media (max-width: 870px) {
  .wrapper-img-k {
    max-width: 140px;
    width: 100%;
    bottom: 0;
  }
}

@media (max-width: 799px) {
  .text-payment {
    font-size: 26px;
  }

  .wrapper-payment-checkbox label p {
    font-size: 20px;
  }

  .form-data {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .img-cart-card {
    max-width: 120px;
    width: 100%;
    object-fit: contain;
  }

  .card-params li {
    font-size: 16px;
  }

  .warapper-info-quantity {
    max-width: 80px;
    width: 100%;
    height: 30px;
  }

  .btnMainus,
  .info-quantity,
  .btnPlus {
  font-size: 16px;
  }


  .text-payment {
    font-size: 20px;
  }

  .wrapper-payment-checkbox label p {
    font-size: 14px;
  }

  .form-data {
    gap: 30px;
  }

    .wrapper-button-order {
    padding: 47px 0;
  }
}

@media (max-width: 773px) {
  .wrapper-payment-checkbox label:nth-child(1) {
    margin-left: -31px;
  }
}

@media (max-width: 625px) {
  .wrapper-cart-bg {
    padding: 10px;
  }

  .img-cart-card {
    max-width: 100px;
    width: 100%;
    object-fit: contain;
  }

  .wrapper-cart-top,
  .list-cart-prices,
  .list-cart-right-bottom {
    width: 100%;
    justify-content: center;
  }

  .list-cart-prices li {
    gap: 6px;
  }

  .card-params li {
    font-size: 14px;
  }

  .warapper-info-quantity {
    max-width: 70px;
    width: 100%;
  }

  .btnMainus,
  .info-quantity,
  .btnPlus {
    font-size: 14px;
  }

  .card-params li {
    font-size: 14px;
  }

  .inputPromo,
  .btn-add-promo,
  .title-cart-right,
  .info-quantity,
  .price-cart-right {
    font-size: 14px;
  }

  .list-cart-right-bottom li {
    font-size: 14px;
  }

  .wrapper-checkbox label p {
    font-size: 18px;
  }

}

@media (max-width: 560px) {
  .center-btn-cart {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 532px) {
  .card-cart {
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
  }

  .btn-clear-cart {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .img-cart-card {
    max-width: 150px;
    width: 100%;
    object-fit: contain;
  }

  .text-deliviry {
    font-size: 20px;
  }

  label p {
    font-size: 17px;
  }

  .btnMainus,
  .info-quantity,
  .btnPlus {
    font-size: 14px;
  }

  .card-params li {
    font-size: 18px;
  }

  .inputPromo,
  .btn-add-promo,
  .title-cart-right,
  .info-quantity,
  .price-cart-right {
    font-size: 18px;
  }

  .list-cart-right-bottom li {
    font-size: 18px;
  }

  .form-data input {
    font-size: 16px;
  }

  .text-comment {
    font-size: 18px;
  }
}

@media (max-width: 510px) {
  .wrapper-cart-span {
    flex-direction: column;
    gap: 15px;
  }
  .inputPromo,
  .btn-add-promo {
    padding: 12px;
  }

  .form-data {
    gap: 10px;
  }

  .form-data input {
    font-size: 13px;
    padding: 20px 10px;
  }
}

@media (max-width: 451px) {
  .wrapeer-checkbox label p {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .text-comment {
    font-size: 14px;
  }

  .title-cart-right, .price-cart-right {
  font-size: 12px;
  }

  .wrapper-cart-bottom {
    padding: 0;
  }

  .warapper-info-quantity {
    font-size: 13px;
  }

  .list-cart-right-bottom li {
    font-size: 12px;
  }

    .wrapper-buttons {
    gap: 6px;
  }

    .btn-continue, .btn-order {
    font-size: 16px;
    letter-spacing: 0;
  }

  .wrapper-checkbox label p {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .wrapper-payment-checkbox label p {
    font-size: 12px;
  }
}
